# Ignore everything
/*

# also in subdirectories
/*/

# Except for (add what you want to track)
!README.md
!version_log.md
!LICENSE
!LICENSE.txt
!Supplement.pdf

!/Data/
!/R/
!/Outputs/
!/Illustrations/
!/Reports/
!/Protocols/
!/Permits/
!/sperm_pics/
!/sperm_rec/
!/sperm_morpho/
!/sperm-sizer-1.6.6/

# Ignore everything in freeze (even if in Except)
freeze/
.DS_Store
MS_files/
MS_cache/
sim/
mcmc/
Thumbs.db
R/.Rhistory
Protocols/.Rhistory

# End